node_modules/
dist/
.DS_Store
*.log
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/app/keystore.properties
*.apk
*.apk.zip
*.exe
*.jks
windows/tools/license-private-key.pem
